{% load static %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/styles.css' %} ">
{% comment %} <link rel="stylesheet" href="{% static 'bootstrap-5.0.0-beta2-dist/css/bootstrap.css' %} "> {% endcomment %}
{% comment %} <link rel="stylesheet" href="{% static 'bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css' %} "> {% endcomment %}
{% comment %} <title>responsive</title> {% endcomment %}


<script src="{% static 'script.js' %} "></script>